# Server Port
PORT=3000

# Environment: development | production | test
NODE_ENV=development

# Firebase Project ID
FIREBASE_PROJECT_ID=anizai-ai

# Emulators (Local Development Only)
# FIREBASE_AUTH_EMULATOR_HOST=localhost:9099
# FIRESTORE_EMULATOR_HOST=localhost:8080
